API_ID= 24722068
API_HASH= 72feca3ed88891eeff3852e20817cdca
BOT_TOKEN= 7112975760:AAGp8Q48dezwwJdHwp5DJCCsqkds-M0NC98
LOGGER_ID= -1002071277392
MONGO_DB_URI= mongodb+srv://vv1vbvg:tahLdAddP2xj6R5b@cluster0.4xpikbs.mongodb.net
OWNER_ID= 6401339012
STRING_SESSION= BAF5OpQAv3j4Q1ffI7gBUGlLx_8IaJEm46TXslgXUcBguCrqy9MH4WUht0l5Z9GYcwoK18OhG5PdmowxHT2CRB4wLgSpVcqlVpg6NPdxSkSqS-_wn1NHTmMdf3koAyS9hEEqbHYt4uqHtZy3qip_ov7PMowsRVqgJf9EEz7nyZLa19_4jWBV-kd-h1rfI5TaI9dkD-baKE2xwdhHzFbLUPlFXAMygwmHQGQa52beKGXAjKCXl1tF6sjAa4Y0CPrqD50RxvYybAPMuTMMgy0Yxi9kBghnJv1ZEkMAnWLeYt4hz1T4yLdho51H5SN0jO74f3KeIdDSmpubNMbYDNiuqbocWwTpTwAAAAGbwiANAA
